<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../includes/meta.ejs') %>
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/libs/tabler/style.min.css">
    <link rel="stylesheet" href="/static/assets/css/alert.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/libs/animate/animate.min.css">
    <title>Beat Saber FR - Admin - Anniversaires</title>
</head>
<body class="">
    <div class="background"><div class="blur"></div></div>

    <div class="page">
        <%- include('./includes/header.ejs') %>
        
        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title text-white">
                                Anniversaires
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div id="table-birthdays" class="card">
                                    <div class="card-header">
                                        <div class="card-title">Liste des anniversaires</div>
                                    </div>
                                    <div class="card-body border-bottom py-3">
                                        <div class="d-flex">
                                            <div class="ms-auto text-muted">
                                                Rechercher:
                                                <div class="ms-2 d-inline-block">
                                                    <input type="search" class="form-control form-control-sm search">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-vcenter table-responsive m-0">
                                        <thead>
                                            <tr>
                                                <th><button class="table-sort" data-sort="sort-name">Membre</button></th>
                                                <th><button class="table-sort asc" data-sort="sort-date">Date</button></th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-tbody">
                                            <% if(birthdays.length === 0) { %>
                                            <tr>
                                                <td class="text-center" colspan="5">Aucun anniversaire</td>
                                            </tr>
                                            <% } %>
                                            <% for(const birthday of birthdays) { %>
                                            <tr>
                                                <td class="sort-name" data-name="<%= birthday.name %>">
                                                    <div class="d-flex align-items-center">
                                                        <span class="avatar avatar-sm me-2" style="background-image: url(<%= birthday.avatar %>)"></span>
                                                        <div class="flex-fill">
                                                            <%= birthday.name %>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="sort-date" data-date="<%= birthday.date.timestamp %>"><%= birthday.date.formated %></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% if(birthdays.length > 0) { %>
                                    <div class="card-footer d-flex align-items-center border-0">
                                        <ul class="pagination m-0 ms-auto"></ul>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/libs/tabler/script.min.js"></script>
    <script src="/static/assets/libs/list.js/list.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    <% if(birthdays.length > 0) { %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const list = new List('table-birthdays', {
                sortClass: 'table-sort',
                listClass: 'table-tbody',
                valueNames: [ { attr: 'data-name', name: 'sort-name' }, { attr: 'data-date', name: 'sort-date' } ],
                pagination: {
                    paginationClass: 'pagination',
                    innerWindow: 2,
                    item: '<li class="page-item"><a class="page-link" href="#"></a></li>'
                },
                page: 10
            })
        })
    </script>
    <% } %>
</body>
</html>