<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/libs/tabler/style.min.css">
    <link rel="stylesheet" href="/static/assets/css/alert.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/libs/animate/animate.min.css">
    <title>Beat Saber FR - Chaînes Twitch</title>
</head>
<body class="">
    <div class="background"><div class="blur"></div></div>

    <div class="page">
        <%- include('header') %>
        
        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title text-white">
                                Chaînes Twitch
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div id="table-twitch-channels" class="card">
                                    <div class="card-header">
                                        <div class="card-title">Liste des chaînes Twitch</div>
                                    </div>
                                    <div class="card-body border-bottom py-3">
                                        <div class="d-flex">
                                            <div class="ms-auto text-muted">
                                                Rechercher:
                                                <div class="ms-2 d-inline-block">
                                                    <input type="search" class="form-control form-control-sm search">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-vcenter table-responsive m-0">
                                        <thead>
                                            <tr>
                                                <th><button class="table-sort" data-sort="sort-name">Membre</button></th>
                                                <th><button class="table-sort" data-sort="sort-channel">Nom de la chaîne</button></th>
                                                <th><button class="table-sort" data-sort="sort-live">En live ?</button></th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-tbody">
                                            <% if(twitchChannels.length === 0) { %>
                                            <tr>
                                                <td class="text-center" colspan="5">Aucun mot banni</td>
                                            </tr>
                                            <% } %>
                                            <% for(const channel of twitchChannels) { %>
                                            <tr>
                                                <td class="sort-name" data-name="<%= channel.user.name %>">
                                                    <div class="d-flex align-items-center">
                                                        <span class="avatar avatar-sm me-2" style="background-image: url(<%= channel.user.avatar %>)"></span>
                                                        <div class="flex-fill">
                                                            <%= channel.user.name %>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="sort-channel" data-channel="<%= channel.name %>">
                                                    <a href="https://twitch.tv/<%= channel.name %>" target="_blank"><%= channel.name %></a>
                                                </td>
                                                <td class="sort-live"><%= channel.isLive ? 'Oui' : 'Non' %></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                    <% if(twitchChannels.length > 0) { %>
                                    <div class="card-footer d-flex align-items-center border-0">
                                        <ul class="pagination m-0 ms-auto"></ul>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/libs/tabler/script.min.js"></script>
    <script src="/static/assets/libs/list.js/list.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    <% if(twitchChannels.length > 0) { %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const list = new List('table-twitch-channels', {
                sortClass: 'table-sort',
                listClass: 'table-tbody',
                valueNames: [ { attr: 'data-name', name: 'sort-name' }, { attr: 'data-channel', name: 'sort-channel' }, 'sort-live' ],
                pagination: {
                    paginationClass: 'pagination',
                    innerWindow: 2,
                    item: '<li class="page-item"><a class="page-link" href="#"></a></li>'
                },
                page: 10
            })
        })
    </script>
    <% } %>
    <% if(login_success !== null) { %><script>showAlert(<%= login_success %>, '<%= login_success ? 'Connexion réussie' : 'Connexion échouée' %>')</script><% } %>
</body>
</html>