<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/libs/tabler/style.min.css">
    <link rel="stylesheet" href="/static/assets/css/alert.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/libs/animate/animate.min.css">
    <title>Beat Saber FR - Paramètres</title>
</head>
<body class="">
    <div class="background"><div class="blur"></div></div>

    <div class="page">
        <%- include('../includes/header.ejs') %>
        
        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title text-white">
                                Paramètres
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-12 col-md-3 border-end">
                                        <div class="card-body">
                                            <div class="list-group list-group-transparent" role="tablist">
                                                <h4 class="subheader ms-3">Paramètres généraux</h4>
                                                <a href="/settings/birthday" class="list-group-item list-group-item-action d-flex align-items-center">Anniversaire</a>
                                                <a href="/settings/roles" class="list-group-item list-group-item-action d-flex align-items-center active">Rôles</a>
                                                <a href="/settings/city" class="list-group-item list-group-item-action d-flex align-items-center">Ville</a>
                                                <a href="/settings/twitch" class="list-group-item list-group-item-action d-flex align-items-center">Twitch</a>
                                                <% if(user.isNitroBooster) { %>
                                                <h4 class="subheader ms-3 mt-4">Avantages Nitro Booster</h4>
                                                <a href="/settings/card" class="list-group-item list-group-item-action">Image de carte Cube-Stalker</a>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-9 d-flex flex-column">
                                        <div class="card-body">
                                            <h2 class="mb-4">Rôles</h2>

                                            <div class="row">
                                                <% for(const roleCategory of roles) { %>
                                                <div class="col-12 col-lg-4 mb-3">
                                                    <div class="form-label"><%= roleCategory.categoryName %></div>
                                                    <% for(const role of roleCategory.roles) { %>
                                                    <label class="form-check">
                                                        <% if(role.multiple) { %>
                                                        <input class="form-check-input" type="checkbox" value="<%= role.name %>"<%= role.checked ? ' checked' : '' %>>
                                                        <% } else { %>
                                                        <input class="form-check-input role-radio" data-category="<%= role.categoryName.toLowerCase() %>" type="checkbox" value="<%= role.name %>"<%= role.checked ? ' checked' : '' %>>
                                                        <% } %>
                                                        <span class="form-check-label"><%= role.name %></span>
                                                    </label>
                                                    <% } %>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-auto ms-auto">
                                            <button type="button" class="btn btn-success" id="save">Sauvegarder</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/libs/tabler/script.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    <script>
        const $roleRadios = [...document.querySelectorAll('.role-radio')]
        for(const $roleRadio of $roleRadios) {
            $roleRadio.addEventListener('change', function(e) {
                if($roleRadio.checked) {
                    for(const $checkbox of $roleRadios) {
                        if($checkbox !== $roleRadio && $checkbox.dataset.category === $roleRadio.dataset.category) $checkbox.checked = false
                    }
                }
            })
        }

        const $btnSave = document.querySelector('#save')
        $btnSave.addEventListener('click', async (e) => {
            $btnSave.classList.add('btn-loading')

            const roles = []
            const $roleCheckboxes = [...document.querySelectorAll('input[type="checkbox"]')]
            for(const $roleCheckbox of $roleCheckboxes) {
                roles.push({
                    name: $roleCheckbox.value,
                    active: $roleCheckbox.checked
                })
            }
            
            const saveRequest = await fetch('/settings/roles', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    roles
                })
            })

            if(saveRequest.ok) {
                showAlert(true, 'Les paramètres ont bien été enregistrés.', 5000)
            } else {
                showAlert(false, saveRequest.statusText, 5000)
            }

            $btnSave.classList.remove('btn-loading')
        })
    </script>
</body>
</html>