<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/libs/tabler/style.min.css">
    <link rel="stylesheet" href="/static/assets/css/alert.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/libs/animate/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/map.css">
    <link rel="stylesheet" href="/static/assets/libs/leaflet/leaflet.css">
    <script src="/static/assets/libs/leaflet/leaflet.js"></script>
    <title>Beat Saber FR - Feurboard</title>
    <style>
        .list-group-item:nth-child(1) .rank .avatar {
            background: #ffc71e;
            color: white;
        }
        .list-group-item:nth-child(2) .rank .avatar {
            background: #959595;
            color: white;
        }
        .list-group-item:nth-child(3) .rank .avatar {
            background: #b5532d;
            color: white;
        }
    </style>
</head>
<body class="">
    <div class="background"><div class="blur"></div></div>

    <div class="page">
        <%- include('./includes/header.ejs') %>
        
        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title text-white">
                                Feurboard
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row mb-3">
                        <div class="col-12">
                            <form class="form">
                                <% if(!user.isBSFR) { %>
                                <div class="alert alert-danger" role="alert">
                                    Vous devez être membre du serveur Discord BSFR afin de pouvoir visualiser le feurboard.<br>
                                    Vous pouvez nous rejoindre en cliquant sur ce lien d'invitation : <a href="<%= inviteUrl %>" target="_blank"><%= inviteUrl %></a><br>
                                    <i>Actualisez la page après avoir rejoint le serveur Discord pour voir le classement.</i>
                                </div>
                                <% } %>

                                <% if(user.isBSFR) { %>
                                <div class="row">
                                    <div class="col-12 col-lg-6 mb-3">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title">🔫 Attaquants</div>
                                            </div>
                                            <div class="list-group list-group-flush list-group-hoverable">
                                                <% for(const attacker of attackers) { %>
                                                <div class="list-group-item">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto rank">
                                                            <span class="avatar"><%= attacker.rank %></span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <span class="avatar" style="background-image: url(<%= attacker.avatar %>)"></span>
                                                        </div>
                                                        <div class="col text-truncate">
                                                            <a href="#" class="text-reset d-block attacker-messages" data-member-id="<%= attacker.attackerId %>"><%= attacker.name %></a>
                                                        </div>
                                                        <div class="col-auto">
                                                            <%= attacker.count %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title">😫 Victimes</div>
                                            </div>
                                            <div class="list-group list-group-flush list-group-hoverable">
                                                <% for(const victim of victims) { %>
                                                <div class="list-group-item">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto rank">
                                                            <span class="avatar"><%= victim.rank %></span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <span class="avatar" style="background-image: url(<%= victim.avatar %>)"></span>
                                                        </div>
                                                        <div class="col text-truncate">
                                                            <a href="#" class="text-reset d-block victim-messages" data-member-id="<%= victim.victimId %>"><%= victim.name %></a>
                                                        </div>
                                                        <div class="col-auto">
                                                            <%= victim.count %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-lg fade" id="modalFeur" tabindex="-1" aria-labelledby="modalFeur" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalFeur">Liste des messages</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/libs/tabler/script.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    <% if(user.isBSFR) { %>
    <script src="/static/assets/js/feur.js"></script>
    <% } %>
</body>
</html>