<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/libs/tabler/style.min.css">
    <link rel="stylesheet" href="/static/assets/libs/tabler/vendors.min.css">
    <link rel="stylesheet" href="/static/assets/css/alert.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/libs/animate/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/rankedle.css">
    <title>Beat Saber FR - Rankedle</title>
    <style>
        #ranking .list-group-item:nth-child(1) .rank {
            background: #ffc71e;
            color: white;
        }
        #ranking .list-group-item:nth-child(2) .rank {
            background: #959595;
            color: white;
        }
        #ranking .list-group-item:nth-child(3) .rank {
            background: #b5532d;
            color: white;
        }
    </style>
</head>
<body class="">
    <div class="background"><div class="blur"></div></div>

    <div class="page">
        <%- include('./includes/header.ejs') %>
        
        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title text-white">
                                Rankedle<%= rankedle ? ` #${rankedle.id}` : '' %>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row mb-3">
                        <div class="col-12">
                            <form class="form">
                                <% if(!user.isBSFR) { %>
                                <div class="alert alert-danger bg-white" role="alert">
                                    <div class="text-muted">
                                        Vous devez être membre du serveur Discord BSFR afin de pouvoir jouer à Rankedle.<br>
                                        Vous pouvez nous rejoindre en cliquant sur ce lien d'invitation : <a href="<%= inviteUrl %>" target="_blank"><%= inviteUrl %></a><br>
                                        <i>Actualisez la page après avoir rejoint le serveur Discord pour accéder à Rankedle.</i>
                                    </div>
                                </div>
                                <% } %>

                                <% if(user.isBSFR) { %>
                                    <div class="row">
                                        <div class="col-lg-8 col-12 mb-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div id="rankedle">
                                                        <div class="row mb-3">
                                                            <div class="col">
                                                                <button type="button" class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#modalHistory">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 20.777a8.942 8.942 0 0 1 -2.48 -.969" /><path d="M14 3.223a9.003 9.003 0 0 1 0 17.554" /><path d="M4.579 17.093a8.961 8.961 0 0 1 -1.227 -2.592" /><path d="M3.124 10.5c.16 -.95 .468 -1.85 .9 -2.675l.169 -.305" /><path d="M6.907 4.579a8.954 8.954 0 0 1 3.093 -1.356" /><path d="M12 8v4l3 3" /></svg>
                                                                </button>
                                                            </div>
                                                            <div class="col-auto ms-auto">
                                                                <button type="button" class="btn btn-icon" id="stats">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" /><path d="M9 8m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" /><path d="M15 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" /><path d="M4 20l14 0" /></svg>
                                                                </button>
                                                                <button type="button" class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#modalAbout">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 9h.01" /><path d="M11 12h1v4h1" /></svg>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <% if(rankedle) { %>
                                                            <% if(!result) { %>
                                                            <div id="step-1" class="step p-2 mb-2 d-flex align-items-center step-active"></div>
                                                            <div id="step-2" class="step p-2 mb-2 d-flex align-items-center"></div>
                                                            <div id="step-3" class="step p-2 mb-2 d-flex align-items-center"></div>
                                                            <div id="step-4" class="step p-2 mb-2 d-flex align-items-center"></div>
                                                            <div id="step-5" class="step p-2 mb-2 d-flex align-items-center"></div>
                                                            <div id="step-6" class="step p-2 mb-2 d-flex align-items-center"></div>
                                                            
                                                            <div class="my-5 text-center">
                                                                <p>Montez le son et cliquez pour démarrer la musique !</p>
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>
                                                            </div>

                                                            <div class="row mb-3 d-flex justify-content-center">
                                                                <div class="col-3">
                                                                    <div class="row row-sm">
                                                                        <div class="col-auto">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8a5 5 0 0 1 0 8" /><path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5" /></svg>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-range" id="volume"></div>
                                                                        </div>
                                                                        <div class="col-auto">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8a5 5 0 0 1 0 8" /><path d="M17.7 5a9 9 0 0 1 0 14" /><path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5" /></svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                
                                                            <div class="progress" id="progress">
                                                                <div class="progress-bar" id="seek-bar-placeholder" style="width: 3.3333%;" role="progressbar"></div>
                                                                <div class="bg-primary" id="seek-bar" style="width: 0%" role="progressbar"></div>

                                                                <div class="progress-step" style="left: 3.33%;"></div>
                                                                <div class="progress-step" style="left: 6.66%;"></div>
                                                                <div class="progress-step" style="left: 13.33%;"></div>
                                                                <div class="progress-step" style="left: 23.31%;"></div>
                                                                <div class="progress-step" style="left: 36.63%;"></div>
                                                                <div class="progress-step" style="left: 53.28%;"></div>
                                                                <div class="progress-step" style="left: calc(100% - 1px);"></div>
                                                            </div>
                
                                                            <div class="row d-flex align-items-center mt-5 mb-3">
                                                                <div class="time" id="current-time">00:00</div>
                                                                <div class="col">
                                                                    <div id="play-btn">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="currentColor" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" /></svg>
                                                                    </div>
                                                                </div>
                                                                <div class="time text-end">00:30</div>
                                                            </div>

                                                            <div class="mb-3">
                                                                <select type="text" class="form-select" id="song"></select>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <button type="button" class="btn" id="skip">PASSER (+<span id="skip-seconds">1</span>s)</button>
                                                                </div>
                                                                <div class="col-auto ms-auto">
                                                                    <button type="button" class="btn btn-success" id="submit">ENVOYER</button>
                                                                    <button type="button" class="btn btn-success d-none" id="end">TERMINER</button>
                                                                </div>
                                                            </div>

                                                            <% } else { %>

                                                            <a class="card mb-3" href="https://beatsaver.com/maps/<%= result.map.id %>" target="_blank">
                                                                <div class="card-status-start bg-<%= result.won ? 'success' : 'danger' %>"></div>
                                                                <div class="card-body">
                                                                    <div class="row d-flex align-items-center">
                                                                        <div class="col-auto">
                                                                            <span class="avatar avatar-xl" style="background-image: url(<%= result.map.cover %>)"></span>
                                                                        </div>
                                                                        <div class="col">
                                                                            <h3><%= result.map.songName %></h3>
                                                                            <div class="text-muted"><strong>Mapper:</strong> <%= result.map.levelAuthorName %></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>

                                                            <div class="text-center">
                                                                <% if(result.message.image) { %>
                                                                <img width="500px" src="<%= result.message.image %>">
                                                                <% } %>

                                                                <h2>
                                                                    <%= result.message.content %>
                                                                </h2>

                                                                <div class="mt-1">
                                                                    <%= result.score %>
                                                                </div>

                                                                <div class="my-4">
                                                                    <button type="button" class="btn btn-primary" id="share">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h3m9 -9v-5a2 2 0 0 0 -2 -2h-2" /><path d="M13 17v-1a1 1 0 0 1 1 -1h1m3 0h1a1 1 0 0 1 1 1v1m0 3v1a1 1 0 0 1 -1 1h-1m-3 0h-1a1 1 0 0 1 -1 -1v-1" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /></svg>
                                                                        <span>Partager</span>
                                                                    </button>
                                                                </div>

                                                                <div class="my-4">
                                                                    <h2 class="fw-bold">Prochain Rankedle dans <span id="countdown"></span></h2>
                                                                </div>
                                                            </div>

                                                            <div class="row mb-3 d-flex justify-content-center">
                                                                <div class="col-3">
                                                                    <div class="row row-sm">
                                                                        <div class="col-auto">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8a5 5 0 0 1 0 8" /><path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5" /></svg>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-range" id="volume"></div>
                                                                        </div>
                                                                        <div class="col-auto">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8a5 5 0 0 1 0 8" /><path d="M17.7 5a9 9 0 0 1 0 14" /><path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5" /></svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="progress" id="progress">
                                                                <div class="progress-bar" id="seek-bar-placeholder" style="width: 100%;" role="progressbar"></div>
                                                                <div class="bg-primary" id="seek-bar" style="width: 0%" role="progressbar"></div>

                                                                <div class="progress-step" style="left: 3.33%;"></div>
                                                                <div class="progress-step" style="left: 6.66%;"></div>
                                                                <div class="progress-step" style="left: 13.33%;"></div>
                                                                <div class="progress-step" style="left: 23.31%;"></div>
                                                                <div class="progress-step" style="left: 36.63%;"></div>
                                                                <div class="progress-step" style="left: 53.28%;"></div>
                                                                <div class="progress-step" style="left: calc(100% - 1px);"></div>
                                                            </div>
                
                                                            <div class="row d-flex align-items-center mt-5 mb-3">
                                                                <div class="time" id="current-time">00:00</div>
                                                                <div class="col">
                                                                    <div id="play-btn">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="currentColor" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" /></svg>
                                                                    </div>
                                                                </div>
                                                                <div class="time text-end">00:30</div>
                                                            </div>

                                                            <% } %>
                                                        <% } else { %>
                                                        <div class="alert alert-danger bg-white" role="alert">
                                                            <div class="text-muted">
                                                                Il n'y a pas de Rankedle en cours.
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Classement</h3>
                                                </div>
                                                <div class="list-group list-group-flush overflow-auto" id="ranking">
                                                    <% for(const rank of ranking) { %>
                                                    <div class="list-group-item">
                                                        <div class="row align-items-center">
                                                            <div class="col-auto">
                                                                <span class="avatar rank"><%= rank.rank %></span>
                                                            </div>
                                                            <a href="#" data-member-id="<%= rank.memberId %>" class="col-auto player-stats">
                                                                <span class="avatar" style="background-image: url(<%= rank.avatar %>)"></span>
                                                            </a>
                                                            <a href="#" data-member-id="<%= rank.memberId %>" class="col text-truncate player-stats">
                                                                <span class="text-reset d-block"><%= rank.name %></span>
                                                            </a>
                                                            <div class="col-auto">
                                                                <%= rank.count %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal modal-xl" id="modalHistory" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Historique des Rankedles</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <div class="spinner-border"></div>
                                                </div>
                                                <div class="table-responsive d-none" id="table-history">
                                                    <table class="table table-vcenter">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Map</th>
                                                                <th>Mapper</th>
                                                                <th>Score</th>
                                                                <th>Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-tbody"></tbody>
                                                    </table>

                                                    <div class="modal-footer border-0">
                                                        <button type="button" id="history-prev" class="btn btn-icon btn-primary me-auto">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
                                                        </button>
                                                        <button type="button" id="history-next" class="btn btn-icon btn-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal modal-lg" id="modalAbout" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">À propos de Rankedle</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <h3>Comment jouer ?</h3>
                                                    <ul>
                                                        <li>Écoutez l'extrait audio, puis recherchez le titre correspondant dans la liste.</li>
                                                        <li>Si vous passez ou entrez un titre incorrect, cela étandra la durée de l'extrait audio.</li>
                                                        <li>Vous avez un total de 6 tentatives pour parvenir à trouver le bon titre.</li>
                                                        <li>Vous gagnez des points si vous parvenez à trouver le bon titre :</li>
                                                    </ul>

                                                    <div class="table-responsive">
                                                        <table class="table text-center w-100">
                                                            <thead>
                                                                <tr>
                                                                    <th>1 tentative</th>
                                                                    <th>2 tentatives</th>
                                                                    <th>3 tentatives</th>
                                                                    <th>4 tentatives</th>
                                                                    <th>5 tentatives</th>
                                                                    <th>6 tentatives</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>8 points</td>    
                                                                    <td>6 points</td>    
                                                                    <td>4 points</td>    
                                                                    <td>3 points</td>    
                                                                    <td>2 points</td>    
                                                                    <td>1 point</td>    
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal" id="modalStats" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Statistiques</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row mb-3">
                                                        <div class="col-3">
                                                            <div class="card card-sm">
                                                                <div class="card-body px-0 text-center">
                                                                    <div class="display-6 mb-2 fw-bold text-success" id="stats-played">0</div>
                                                                    <div class="text-muted">Parties</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="card card-sm">
                                                                <div class="card-body px-0 text-center">
                                                                    <div class="display-6 mb-2 fw-bold text-success" id="stats-win-rate">0</div>
                                                                    <div class="text-muted">Victoires (%)</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="card card-sm">
                                                                <div class="card-body px-0 text-center">
                                                                    <div class="display-6 mb-2 fw-bold text-success" id="stats-current-streak">0</div>
                                                                    <div class="text-muted">Série actuelle</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="card card-sm">
                                                                <div class="card-body px-0 text-center">
                                                                    <div class="display-6 mb-2 fw-bold text-success" id="stats-max-streak">0</div>
                                                                    <div class="text-muted">Meilleure série</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <h3>Performances</h3>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="row row-sm mb-2 d-flex align-items-center" id="stats-try-1">
                                                                <div class="w-5 text-center"><span class="fw-bold">1</span></div>
                                                                <div class="col">
                                                                    <div class="progressbg h-4">
                                                                        <div class="progress progressbg-progress">
                                                                            <div class="progress-bar bg-secondary" style="width: 5.5%" role="progressbar"></div>
                                                                        </div>
                                                                        <div class="progressbg-text text-white d-flex align-items-center">0</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-sm mb-2 d-flex align-items-center" id="stats-try-2">
                                                                <div class="w-5 text-center"><span class="fw-bold">2</span></div>
                                                                <div class="col">
                                                                    <div class="progressbg h-4">
                                                                        <div class="progress progressbg-progress">
                                                                            <div class="progress-bar bg-secondary" style="width: 5.5%" role="progressbar"></div>
                                                                        </div>
                                                                        <div class="progressbg-text text-white d-flex align-items-center">0</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-sm mb-2 d-flex align-items-center" id="stats-try-3">
                                                                <div class="w-5 text-center"><span class="fw-bold">3</span></div>
                                                                <div class="col">
                                                                    <div class="progressbg h-4">
                                                                        <div class="progress progressbg-progress">
                                                                            <div class="progress-bar bg-secondary" style="width: 5.5%" role="progressbar"></div>
                                                                        </div>
                                                                        <div class="progressbg-text text-white d-flex align-items-center">0</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-sm mb-2 d-flex align-items-center" id="stats-try-4">
                                                                <div class="w-5 text-center"><span class="fw-bold">4</span></div>
                                                                <div class="col">
                                                                    <div class="progressbg h-4">
                                                                        <div class="progress progressbg-progress">
                                                                            <div class="progress-bar bg-secondary" style="width: 5.5%" role="progressbar"></div>
                                                                        </div>
                                                                        <div class="progressbg-text text-white d-flex align-items-center">0</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-sm mb-2 d-flex align-items-center" id="stats-try-5">
                                                                <div class="w-5 text-center"><span class="fw-bold">5</span></div>
                                                                <div class="col">
                                                                    <div class="progressbg h-4">
                                                                        <div class="progress progressbg-progress">
                                                                            <div class="progress-bar bg-secondary" style="width: 5.5%" role="progressbar"></div>
                                                                        </div>
                                                                        <div class="progressbg-text text-white d-flex align-items-center">0</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-sm mb-2 d-flex align-items-center" id="stats-try-6">
                                                                <div class="w-5 text-center"><span class="fw-bold">6</span></div>
                                                                <div class="col">
                                                                    <div class="progressbg h-4">
                                                                        <div class="progress progressbg-progress">
                                                                            <div class="progress-bar bg-secondary" style="width: 5.5%" role="progressbar"></div>
                                                                        </div>
                                                                        <div class="progressbg-text text-white d-flex align-items-center">0</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row row-sm mb-2 d-flex align-items-center" id="stats-loses">
                                                                <div class="w-5 text-center">
                                                                    <span class="fw-bold">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 4c4.418 0 8 3.358 8 7.5c0 1.901 -.755 3.637 -2 4.96l0 2.54a1 1 0 0 1 -1 1h-10a1 1 0 0 1 -1 -1v-2.54c-1.245 -1.322 -2 -3.058 -2 -4.96c0 -4.142 3.582 -7.5 8 -7.5z" /><path d="M10 17v3" /><path d="M14 17v3" /><path d="M9 11m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /><path d="M15 11m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
                                                                    </span>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="progressbg h-4">
                                                                        <div class="progress progressbg-progress">
                                                                            <div class="progress-bar bg-secondary" style="width: 5.5%" role="progressbar"></div>
                                                                        </div>
                                                                        <div class="progressbg-text text-white d-flex align-items-center">0</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/libs/tabler/script.min.js"></script>
    <script src="/static/assets/libs/list.js/list.min.js"></script>
    <script src="/static/assets/libs/tom-select/tom-select.base.min.js"></script>
    <script src="/static/assets/libs/nouislider/nouislider.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    <% if(user.isBSFR) { %>
    <script src="/static/assets/js/rankedle.js"></script>
    <% } %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const list = new List('table-history', {
                listClass: 'table-tbody',
                valueNames: [ 'history-cover', 'history-map', 'history-mapper', 'history-score', 'history-date' ]
            })
        })
    </script>
</body>
</html>