<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/libs/tabler/style.min.css">
    <link rel="stylesheet" href="/static/assets/libs/tabler/vendors.min.css">
    <link rel="stylesheet" href="/static/assets/css/alert.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/libs/animate/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/rankedle.css">
    <title>Beat Saber FR - Rankedle</title>
    <style>
        .list-group-item:nth-child(1) .rank .avatar {
            background: #ffc71e;
            color: white;
        }
        .list-group-item:nth-child(2) .rank .avatar {
            background: #959595;
            color: white;
        }
        .list-group-item:nth-child(3) .rank .avatar {
            background: #b5532d;
            color: white;
        }
    </style>
</head>
<body class="">
    <div class="background"><div class="blur"></div></div>

    <div class="page">
        <%- include('./includes/header.ejs') %>
        
        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title text-white">
                                Rankedle
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row mb-3">
                        <div class="col-12">
                            <form class="form">
                                <% if(!user.isBSFR) { %>
                                <div class="alert alert-danger bg-white" role="alert">
                                    <div class="text-muted">
                                        Vous devez être membre du serveur Discord BSFR afin de pouvoir jouer à Rankedle.<br>
                                        Vous pouvez nous rejoindre en cliquant sur ce lien d'invitation : <a href="<%= inviteUrl %>" target="_blank"><%= inviteUrl %></a><br>
                                        <i>Actualisez la page après avoir rejoint le serveur Discord pour accéder à Rankedle.</i>
                                    </div>
                                </div>
                                <% } %>

                                <% if(user.isBSFR) { %>
                                    <div class="row">
                                        <div class="col-lg-8 col-12 mb-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div id="rankedle">
                                                        <% if(rankedle) { %>
                                                            <% if(!result) { %>
                                                            <div id="step-1" class="step p-2 mb-2 d-flex align-items-center step-active">
                                                                <div class="w-5 h-5"></div>
                                                            </div>
                                                            <div id="step-2" class="step p-2 mb-2 d-flex align-items-center">
                                                                <div class="w-5 h-5"></div>
                                                            </div>
                                                            <div id="step-3" class="step p-2 mb-2 d-flex align-items-center">
                                                                <div class="w-5 h-5"></div>
                                                            </div>
                                                            <div id="step-4" class="step p-2 mb-2 d-flex align-items-center">
                                                                <div class="w-5 h-5"></div>
                                                            </div>
                                                            <div id="step-5" class="step p-2 mb-2 d-flex align-items-center">
                                                                <div class="w-5 h-5"></div>
                                                            </div>
                                                            <div id="step-6" class="step p-2 mb-2 d-flex align-items-center">
                                                                <div class="w-5 h-5"></div>
                                                            </div>
                                                            
                                                            <div class="my-5 text-center">
                                                                <p>Montez le son et cliquez pour démarrer la musique !</p>
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9l6 6l6 -6" /></svg>
                                                            </div>

                                                            <div class="row mb-3 d-flex justify-content-center">
                                                                <div class="col-3">
                                                                    <div class="row row-sm">
                                                                        <div class="col-auto">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8a5 5 0 0 1 0 8" /><path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5" /></svg>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-range" id="volume"></div>
                                                                        </div>
                                                                        <div class="col-auto">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8a5 5 0 0 1 0 8" /><path d="M17.7 5a9 9 0 0 1 0 14" /><path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5" /></svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                
                                                            <div class="progress" id="progress">
                                                                <div class="progress-bar" id="seek-bar-placeholder" style="width: 3.3333%;" role="progressbar"></div>
                                                                <div class="bg-primary" id="seek-bar" style="width: 0%" role="progressbar"></div>

                                                                <div class="progress-step" style="left: 3.33%;"></div>
                                                                <div class="progress-step" style="left: 6.66%;"></div>
                                                                <div class="progress-step" style="left: 13.33%;"></div>
                                                                <div class="progress-step" style="left: 23.31%;"></div>
                                                                <div class="progress-step" style="left: 36.63%;"></div>
                                                                <div class="progress-step" style="left: 53.28%;"></div>
                                                                <div class="progress-step" style="left: calc(100% - 1px);"></div>
                                                            </div>
                
                                                            <div class="row d-flex align-items-center mt-5 mb-3">
                                                                <div class="time" id="current-time">00:00</div>
                                                                <div class="col">
                                                                    <div id="play-btn">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="currentColor" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" /></svg>
                                                                    </div>
                                                                </div>
                                                                <div class="time text-end">00:30</div>
                                                            </div>

                                                            <div class="mb-3">
                                                                <select type="text" class="form-select" id="song"></select>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col">
                                                                    <button type="button" class="btn" id="skip">PASSER (+<span id="skip-seconds">1</span>s)</button>
                                                                </div>
                                                                <div class="col-auto ms-auto">
                                                                    <button type="button" class="btn btn-success" id="submit">ENVOYER</button>
                                                                    <button type="button" class="btn btn-success d-none" id="end">TERMINER</button>
                                                                </div>
                                                            </div>

                                                            <% } else { %>

                                                            <a class="card mb-3" href="https://beatsaver.com/maps/<%= result.map.id %>" target="_blank">
                                                                <div class="card-status-start bg-<%= result.won ? 'success' : 'danger' %>"></div>
                                                                <div class="card-body">
                                                                    <div class="row d-flex align-items-center">
                                                                        <div class="col-auto">
                                                                            <span class="avatar avatar-xl" style="background-image: url(<%= result.map.cover %>)"></span>
                                                                        </div>
                                                                        <div class="col">
                                                                            <h3><%= result.map.songName %></h3>
                                                                            <div class="text-muted"><strong>Mapper:</strong> <%= result.map.levelAuthorName %></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>

                                                            <p class="text-center" style="font-size: 1.1rem; font-weight: 500;">
                                                                <%= result.text %>
                                                            </p>

                                                            <div class="mt-1 mb-5 text-center">
                                                                <% for(const step of result.steps) {
                                                                    const className = step === null ? 'gray' : step === false ? 'red' : step === true ? 'green' : 'gray'
                                                                %>
                                                                <span class="try try-<%= className %>"></span>
                                                                <% } %>
                                                            </div>

                                                            <div class="row mb-3 d-flex justify-content-center">
                                                                <div class="col-3">
                                                                    <div class="row row-sm">
                                                                        <div class="col-auto">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8a5 5 0 0 1 0 8" /><path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5" /></svg>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-range" id="volume"></div>
                                                                        </div>
                                                                        <div class="col-auto">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 8a5 5 0 0 1 0 8" /><path d="M17.7 5a9 9 0 0 1 0 14" /><path d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5" /></svg>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="progress" id="progress">
                                                                <div class="progress-bar" id="seek-bar-placeholder" style="width: 100%;" role="progressbar"></div>
                                                                <div class="bg-primary" id="seek-bar" style="width: 0%" role="progressbar"></div>

                                                                <div class="progress-step" style="left: 3.33%;"></div>
                                                                <div class="progress-step" style="left: 6.66%;"></div>
                                                                <div class="progress-step" style="left: 13.33%;"></div>
                                                                <div class="progress-step" style="left: 23.31%;"></div>
                                                                <div class="progress-step" style="left: 36.63%;"></div>
                                                                <div class="progress-step" style="left: 53.28%;"></div>
                                                                <div class="progress-step" style="left: calc(100% - 1px);"></div>
                                                            </div>
                
                                                            <div class="row d-flex align-items-center mt-5 mb-3">
                                                                <div class="time" id="current-time">00:00</div>
                                                                <div class="col">
                                                                    <div id="play-btn">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="currentColor" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" /></svg>
                                                                    </div>
                                                                </div>
                                                                <div class="time text-end">00:30</div>
                                                            </div>

                                                            <% } %>
                                                        <% } else { %>
                                                        <div class="alert alert-danger bg-white" role="alert">
                                                            <div class="text-muted">
                                                                Il n'y a pas de Rankedle en cours.
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h3 class="card-title">Classement</h3>
                                                    <div class="list-group list-group-flush list-group-hoverable">
                                                        <% for(const rank of ranking) { %>
                                                        <div class="list-group-item">
                                                            <div class="row align-items-center">
                                                                <div class="col-auto rank">
                                                                    <span class="avatar"><%= rank.rank %></span>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <span class="avatar" style="background-image: url(<%= rank.avatar %>)"></span>
                                                                </div>
                                                                <div class="col text-truncate">
                                                                    <span class="text-reset d-block" data-member-id="<%= rank.attackerId %>"><%= rank.name %></span>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <%= rank.count %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/libs/tabler/script.min.js"></script>
    <script src="/static/assets/libs/tom-select/tom-select.base.min.js"></script>
    <script src="/static/assets/libs/nouislider/nouislider.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    <% if(user.isBSFR) { %>
    <script src="/static/assets/js/rankedle.js"></script>
    <% } %>
</body>
</html>