<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/libs/tabler/style.min.css">
    <link rel="stylesheet" href="/static/assets/css/alert.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/libs/animate/animate.min.css">
    <title>Beat Saber FR - Soumissions de run Multi POV</title>
</head>
<body class="" style="background: none;">
    <div class="background"><div class="blur"></div></div>

    <div class="page">
        <header class="navbar navbar-expand-md navbar-dark sticky-top d-print-none">
            <div class="container-xl">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand d-none-navbar-horizontal pe-0 pe-md-3">
                    <a href="/">
                        <img src="/static/assets/images/logo.gif" width="32" height="32" alt="BSFR" class="navbar-brand-image me-2">
                        Beat Saber FR
                    </a>
                </h1>
                <div class="navbar-nav flex-row order-md-last">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu" aria-expanded="false">
                            <span class="avatar avatar-sm" style="background-image: url(https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.webp?size=80)"></span>
                            <div class="d-none d-xl-block ps-2">
                                <div><%= user.username %></div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <% if(user.isAdmin) { %>
                            <a href="/admin/" class="dropdown-item">Administration</a>
                            <div class="dropdown-divider"></div>
                            <% } %>
                            <a href="/discord/logout" class="dropdown-item">Déconnexion</a>
                        </div>
                      </div>
                </div>
            </div>
        </header>
        
        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title text-white">
                                Soumissions de run Multi POV
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <% if(user.isBSFR) { %>

                    <%
                        if(!mpovInfos.error) {
                            const difficulties = [
                                { difficulty: 'ExpertPlus', color: 'purple' },
                                { difficulty: 'Expert+', color: 'purple' },
                                { difficulty: 'Expert', color: 'red' },
                                { difficulty: 'Hard', color: 'orange' },
                                { difficulty: 'Normal', color: 'blue' },
                                { difficulty: 'Easy', color: 'green' },
                            ]
                            const difficulty = difficulties.find(c => c.difficulty.toLowerCase() === mpovInfos.map.difficulty.toLowerCase())
                            const diffColor = difficulty ? difficulty.color : 'white'
                    %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h3 class="card-title">Vidéo Multi POV BSFR #<%= mpovInfos.id %></h3>

                            <div class="row row-lg">
                                <div class="col-12 col-lg-6">
                                    <h4>Map sélectionnée :</h4>
                                    <a class="card mb-3" href="https://beatsaver.com/maps/<%= mpovInfos.map.id %>" target="_blank">
                                        <div class="card-status-start bg-blue"></div>
                                        <div class="card-body">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-auto">
                                                    <span class="avatar avatar-xl" style="background-image: url(<%= mpovInfos.map.cover %>)"></span>
                                                </div>
                                                <div class="col">
                                                    <h3><%= mpovInfos.map.songName %></h3>
                                                    <div class="text-muted"><strong>Mapper:</strong> <%= mpovInfos.map.levelAuthorName %></div>
                                                    <div class="text-muted"><strong>Difficulté:</strong> <span class="badge bg-<%= diffColor %>"><%= mpovInfos.map.difficulty %></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <table class="table table-sm table-vcenter">
                                        <tbody>
                                            <tr>
                                                <th class="text-muted">Date de début</th>
                                                <td><%- new Intl.DateTimeFormat('fr-FR', { dateStyle: 'full', timeStyle: 'short' }).format(new Date(mpovInfos.dateStart)) %></td>
                                            </tr>
                                            <tr>
                                                <th class="text-muted">Date de fin</th>
                                                <td><%- new Intl.DateTimeFormat('fr-FR', { dateStyle: 'full', timeStyle: 'short' }).format(new Date(mpovInfos.dateEnd)) %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <h4>Critères à respecter :</h4>
                                    <ul>
                                        <li>Utiliser la <a href="/static/files/multipov.json" download>configuration Camera2 fournie</a> (obligatoire)</li>
                                        <li>Enregistrez en 1080p (minimum) 60fps</li>
                                        <li>Jouez sans aucun HUD (jeu, tchat Twitch, etc...)</li>
                                        <li>Mode replay non autorisé</li>
                                        <li>Les lights doivent être activées</li>
                                        <li>Format obligatoire MP4</li>
                                        <li>Fichier de 3 Go maximum</li>
                                        <li>Notes par défaut mais taille au choix</li>
                                        <li>La vidéo soumise ne doit pas avoir été éditée</li>
                                    </ul>
                                    <i>Paramètres d'enregistrement recommandés : <a href="https://imgur.com/a/fswBbJe" target="_blank">Lien Imgur</a></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% if(Date.now() >= mpovInfos.dateStart && Date.now() < mpovInfos.dateEnd) { %>
                    <form class="card form">
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label"><span style="font-weight: bold; color: #FF0000;">*</span> : champ requis</label>
                            </div>
                            <div class="mb-3">
                                <label class="form-label required">Fichier de la run</label>
                                <input type="file" class="form-control" id="video" required>
                                <small class="form-hint">Fichier .mp4 conseillé, .mkv refusé</small>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-auto ms-auto">
                                    <button type="submit" class="btn btn-primary">Envoyer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <% } else { %>
                    <div class="alert alert-info" role="alert">
                        <div class="text-muted">La soumission de vidéo Multi POV BSFR #<%= mpovInfos.id %> est fermée</div>
                    </div>
                    <% } %>

                    <% } else { %>
                        <div class="alert alert-danger" role="alert">
                            <div class="text-muted"><%= mpovInfos.error %></div>
                        </div>
                    <% } %>

                    <% } else { %>
                        <div class="alert alert-danger" role="alert">
                            <div class="text-muted">
                                Vous devez être membre du serveur Discord BSFR afin de pouvoir nous soumettre une run Multi POV.<br>
                                Vous pouvez nous rejoindre en cliquant sur ce lien d'invitation : <a href="<%= inviteUrl %>" target="_blank"><%= inviteUrl %></a><br>
                                <i>Actualisez la page après avoir rejoint le serveur Discord pour voir le formulaire.</i>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" id="modalRun">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-status bg-blue"></div>
                <div class="modal-body text-center py-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-blue icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><polyline points="7 9 12 4 17 9"></polyline><line x1="12" y1="4" x2="12" y2="16"></line></svg>
                    <h3>Envoi d'une run</h3>
                    <div class="text-muted mb-2" id="upload-status"></div>
                    <div class="text-muted" id="upload-infos"></div>
                    <div class="progress mt-2">
                        <div class="progress-bar" id="upload-progress" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white w-100" id="close-modal-run">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/libs/tabler/script.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
    <% if(user.isBSFR && Date.now() >= mpovInfos.dateStart && Date.now() < mpovInfos.dateEnd) { %>
    <script src="/static/assets/js/mpov.js"></script>
    <% } %>
    <% if(login_success !== null) { %><script>showAlert(<%= login_success %>, '<%= login_success ? 'Connexion réussie' : 'Connexion échouée' %>')</script><% } %>
</body>
</html>