<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../includes/meta.ejs') %>
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/libs/tabler/style.min.css">
    <link rel="stylesheet" href="/static/assets/libs/tabler/vendors.min.css">
    <link rel="stylesheet" href="/static/assets/css/alert.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/libs/animate/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/rankedle.css">
    <title>Beat Saber FR - Rankedle - Résumé</title>
    <style>
        #ranking .avatar.rank.rank-1 {
            background: #ffc71e;
            color: white;
        }
        #ranking .avatar.rank.rank-2 {
            background: #959595;
            color: white;
        }
        #ranking .avatar.rank.rank-3 {
            background: #b5532d;
            color: white;
        }
    </style>
</head>
<body class="">
    <div class="background"><div class="blur"></div></div>

    <div class="page">
        <%- include('../includes/header.ejs') %>
        
        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title text-white">
                                Classement général
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row mb-3">
                        <div class="col-12">
                            <!-- Classement général -->
                            <div class="card">
                                <div class="table-responsive" id="ranking">
                                    <table class="table table-vcenter card-table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Joueur</th>
                                                <th>Points</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(const rank of summary.global.ranking) { %>
                                            <tr>
                                                <td class="w-1">
                                                    <span class="avatar rank<%= rank.rank <= 3 ? ` rank-${rank.rank}` : '' %>"><%= rank.rank %></span>
                                                </td>
                                                <td>
                                                    <span class="d-flex py-1 align-items-center text-reset">
                                                        <span class="avatar me-2" style="background-image: url(<%= rank.player.avatar %>)"></span>
                                                        <div class="flex-fill"><%= rank.player.name %></div>
                                                    </span>
                                                </td>
                                                <td><%= rank.points %></td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cards">
                        <div class="col-12">
                            <!-- Page title -->
                            <div class="page-header d-print-none">
                                <div class="row g-2 align-items-center">
                                    <div class="col">
                                        <h2 class="page-title text-white">
                                            Résumé de la Saison <%= summary.season ? summary.season.id : 'précédente' %>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if(!summary.season) { %>
                        <div class="col-12">
                            <div class="alert alert-danger bg-white" role="alert">
                                <div class="text-muted">
                                    Il n'y a pas de résumé pour la saison précédente.
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <!-- Top 1 -->
                            <% if(summary.season.top1) { %>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <h3 class="card-title">🏆 Top 1</h3>
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="avatar" style="background-image: url(<%= summary.season.top1.player.avatar %>);"></div>
                                            </div>
                                            <div class="col">
                                                <div class="fw-medium"><%= summary.season.top1.player.name %></div>
                                                <div class="text-secondary"><%= summary.season.top1.count %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <!-- Meilleure série -->
                            <% if(summary.season.maxStreak) { %>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <h3 class="card-title">Meilleure série</h3>
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="avatar" style="background-image: url(<%= summary.season.maxStreak.player.avatar %>);"></div>
                                            </div>
                                            <div class="col">
                                                <div class="fw-medium"><%= summary.season.maxStreak.player.name %></div>
                                                <div class="text-secondary"><%= summary.season.maxStreak.count %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <!-- Parties jouées -->
                            <% if(summary.season.played) { %>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <h3 class="card-title">Parties jouées</h3>
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="avatar" style="background-image: url(<%= summary.season.played.player.avatar %>);"></div>
                                            </div>
                                            <div class="col">
                                                <div class="fw-medium"><%= summary.season.played.player.name %></div>
                                                <div class="text-secondary"><%= summary.season.played.count %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <!-- Du premier coup -->
                            <% if(summary.season.firstTry) { %>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <h3 class="card-title">Du premier coup</h3>
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="avatar" style="background-image: url(<%= summary.season.firstTry.player.avatar %>);"></div>
                                            </div>
                                            <div class="col">
                                                <div class="fw-medium"><%= summary.season.firstTry.player.name %></div>
                                                <div class="text-secondary"><%= summary.season.firstTry.count %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <!-- Nombre de victoires -->
                            <% if(summary.season.wins) { %>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <h3 class="card-title">Nombre de victoires</h3>
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="avatar" style="background-image: url(<%= summary.season.wins.player.avatar %>);"></div>
                                            </div>
                                            <div class="col">
                                                <div class="fw-medium"><%= summary.season.wins.player.name %></div>
                                                <div class="text-secondary"><%= summary.season.wins.count %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <!-- Nombre de défaites -->
                            <% if(summary.season.loses) { %>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <h3 class="card-title">Nombre de défaites</h3>
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="avatar" style="background-image: url(<%= summary.season.loses.player.avatar %>);"></div>
                                            </div>
                                            <div class="col">
                                                <div class="fw-medium"><%= summary.season.loses.player.name %></div>
                                                <div class="text-secondary"><%= summary.season.loses.count %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <!-- Clics du bouton « PASSER » -->
                            <% if(summary.season.skips) { %>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <h3 class="card-title">Clics du bouton « PASSER »</h3>
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="avatar" style="background-image: url(<%= summary.season.skips.player.avatar %>);"></div>
                                            </div>
                                            <div class="col">
                                                <div class="fw-medium"><%= summary.season.skips.player.name %></div>
                                                <div class="text-secondary"><%= summary.season.skips.count %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <!-- Nombre d'indices demandés -->
                            <% if(summary.season.hints) { %>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="card card-sm">
                                    <div class="card-body">
                                        <h3 class="card-title">Nombre d'indices demandés</h3>
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <div class="avatar" style="background-image: url(<%= summary.season.hints.player.avatar %>);"></div>
                                            </div>
                                            <div class="col">
                                                <div class="fw-medium"><%= summary.season.hints.player.name %></div>
                                                <div class="text-secondary"><%= summary.season.hints.count %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/libs/tabler/script.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
</body>
</html>