<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../includes/meta.ejs') %>
    <link rel="shortcut icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/libs/tabler/style.min.css">
    <link rel="stylesheet" href="/static/assets/libs/tabler/vendors.min.css">
    <link rel="stylesheet" href="/static/assets/css/alert.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/libs/animate/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/rankedle.css">
    <title>Beat Saber FR - Rankedle - Résumé</title>
    <style>
        #ranking .avatar.rank.rank-1 {
            background: #ffc71e;
            color: white;
        }
        #ranking .avatar.rank.rank-2 {
            background: #959595;
            color: white;
        }
        #ranking .avatar.rank.rank-3 {
            background: #b5532d;
            color: white;
        }
    </style>
</head>
<body class="">
    <div class="background"><div class="blur"></div></div>

    <div class="page">
        <%- include('../includes/header.ejs') %>
        
        <div class="page-wrapper">
            <div class="container-xl">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="row g-2 align-items-center">
                        <div class="col">
                            <h2 class="page-title text-white">
                                Rankedle – Résumé de la Saison <%= summary ? summary.seasonId : 'précédente' %>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row mb-3">
                        <div class="col-12">
                            <form class="form">
                                <% if(!user.isBSFR) { %>
                                <div class="alert alert-danger bg-white" role="alert">
                                    <div class="text-muted">
                                        Vous devez être membre du serveur Discord BSFR afin de pouvoir jouer à Rankedle.<br>
                                        Vous pouvez nous rejoindre en cliquant sur ce lien d'invitation : <a href="<%= inviteUrl %>" target="_blank"><%= inviteUrl %></a><br>
                                        <i>Actualisez la page après avoir rejoint le serveur Discord pour accéder à Rankedle.</i>
                                    </div>
                                </div>
                                <% } else { %>
                                    <% if(!summary) { %>
                                    <div class="alert alert-danger bg-white" role="alert">
                                        <div class="text-muted">
                                            Il n'y a pas de résumé pour la saison précédente.
                                        </div>
                                    </div>
                                    <% } else { %>
                                    <!-- Podium -->
                                    <div class="card mb-3">
                                        <div class="card-header">
                                            <h3 class="card-title">Podium</h3>
                                        </div>
                                        <div class="table-responsive" id="ranking">
                                            <table class="table table-vcenter card-table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Joueur</th>
                                                        <th>Points</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(const rank of summary.podium) { %>
                                                    <tr>
                                                        <td class="w-1">
                                                            <span class="avatar rank<%= rank.rank <= 3 ? ` rank-${rank.rank}` : '' %>"><%= rank.rank %></span>
                                                        </td>
                                                        <td>
                                                            <a href="#" class="d-flex py-1 align-items-center text-reset">
                                                                <span class="avatar me-2" style="background-image: url(<%= rank.player.avatar %>)"></span>
                                                                <div class="flex-fill"><%= rank.player.name %></div>
                                                            </span>
                                                        </td>
                                                        <td><%= rank.points %></td>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row row-cards">
                                        <!-- Meilleure série -->
                                        <div class="col-12 col-md-4 col-lg-3">
                                            <div class="card card-sm">
                                                <div class="card-body">
                                                    <h3 class="card-title">Meilleure série</h3>
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar" style="background-image: url(<%= summary.maxStreak.player.avatar %>);"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="font-weight-medium"><%= summary.maxStreak.player.name %></div>
                                                            <div class="text-secondary"><%= summary.maxStreak.count %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Parties jouées -->
                                        <div class="col-12 col-md-4 col-lg-3">
                                            <div class="card card-sm">
                                                <div class="card-body">
                                                    <h3 class="card-title">Parties jouées</h3>
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar" style="background-image: url(<%= summary.played.player.avatar %>);"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="font-weight-medium"><%= summary.played.player.name %></div>
                                                            <div class="text-secondary"><%= summary.played.count %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Nombre de victoires -->
                                        <div class="col-12 col-md-4 col-lg-3">
                                            <div class="card card-sm">
                                                <div class="card-body">
                                                    <h3 class="card-title">Nombre de victoires</h3>
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar" style="background-image: url(<%= summary.wins.player.avatar %>);"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="font-weight-medium"><%= summary.wins.player.name %></div>
                                                            <div class="text-secondary"><%= summary.wins.count %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Nombre de défaites -->
                                        <div class="col-12 col-md-4 col-lg-3">
                                            <div class="card card-sm">
                                                <div class="card-body">
                                                    <h3 class="card-title">Nombre de défaites</h3>
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar" style="background-image: url(<%= summary.loses.player.avatar %>);"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="font-weight-medium"><%= summary.loses.player.name %></div>
                                                            <div class="text-secondary"><%= summary.loses.count %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Clics du bouton « PASSER » -->
                                        <div class="col-12 col-md-4 col-lg-3">
                                            <div class="card card-sm">
                                                <div class="card-body">
                                                    <h3 class="card-title">Clics du bouton « PASSER »</h3>
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar" style="background-image: url(<%= summary.skips.player.avatar %>);"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="font-weight-medium"><%= summary.skips.player.name %></div>
                                                            <div class="text-secondary"><%= summary.skips.count %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Nombre d'indices demandés -->
                                        <div class="col-12 col-md-4 col-lg-3">
                                            <div class="card card-sm">
                                                <div class="card-body">
                                                    <h3 class="card-title">Nombre d'indices demandés</h3>
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                            <div class="avatar" style="background-image: url(<%= summary.hints.player.avatar %>);"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="font-weight-medium"><%= summary.hints.player.name %></div>
                                                            <div class="text-secondary"><%= summary.hints.count %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/assets/libs/tabler/script.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
</body>
</html>