<!DOCTYPE html>
<html lang="fr" class="h-100" style="background-image: url('{{ asset('build/wallpaper.jpg') }}')">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}BSFR{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('general') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('general') }}
        {% endblock %}
    </head>
    <body>
        <div class="alert-container text-right mr-5">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger flash" role="alert" id="flash-error">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success flash" role="alert" id="flash-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        {% block body %}{% endblock %}
    </body>
</html>