{% extends 'base.html.twig' %}

{% block title %}Authentification Google{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('agentGoogleRedirect') }}
{% endblock %}

{% block body %}
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="bsfr text-center">
            <div class="container">
                <span>Code: {{ code }} <br><button id="copyData" class="btn btn-primary" data-data="{{ code }}"><i class="far fa-clone"></i> Copier la commande</button></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('agentGoogleRedirect') }}
{% endblock %}
